@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');
@import url("https://fonts.googleapis.com/earlyaccess/mplus1p.css");

.list-none{list-style-type:circle;}
.fancy30{font-size:30px;font-weight:600;line-height:28px;font-family:"Rounded Mplus 1c";}
.fancy20{font-size:20px;font-weight:500;font-style:italic;line-height:20px;font-family:"Mplus 1p";}
.fancy20:link,.fancy20:hover,.fancy20:visited{color: #96cdcd;}