@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

.fancy{font-size:60px;font-weight:500;font-family:"Sigmar One";}

input,label{vertical-align: middle;}
input{border:1px solid #bbb;}
input:focus,input:hover{border-color:#333;}
input[type="submit"]{padding:0 20px;line-height:30px;cursor:pointer;}